<!DOCTYPE html>
<html lang="en" ng-app="bvapp">
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="rating" content="general" />
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if lte IE 7]>
        <script src="js/IE8.js" type="text/javascript"></script><![endif]-->
        <!--[if lt IE 7]>
     
        <link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
        <title>BVAPI - APP - test</title>
        <link href="http://alexisphanor.com/images/favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../css/style.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
        <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" type='text/css' media='all' />
        <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
        <script src="https://use.fontawesome.com/0733c518bd.js"></script>
        <script src="../js/all.min.js"></script>
    </head>
    <body>
        <div ng-controller="bvapi" class="container-fluid">
            <header class="header clearfix">
                <div id="branding-logo"></div>
            </header>
            
            <div class="row">
                <p><a href="/bvapp/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back </a></p>
                <h1>API Checker</h1>
                
                <div ng-hide="apidata" class="apicreator">
                    <input class="form-control" type="text" ng-model="api_URL" placeholder="Enter your client's API URL here">
                    <div class="apibutton">
                        <button type="submit" ng-click="checkAPI()" class="btn btn-primary btn-lg active">Check API call</button>
                    </div>
                </div>
                
                <div ng-show="ProductsAttributes" ng-repeat="(key, value) in ProductsData" class="products_inf bs-callout bs-callout-info" id="callout-helper-context-color-specificity"> 
                    <h4><a ng-href="{{value.ProductPageUrl}}">{{value.Name}}</a></h4>
                    <div class="row">
                        <div class="col-xs-3 col-md-2"><img ng-src="{{value.ImageUrl}}" alt="{{value.Name}}" class="img-rounded"></div>
                        <div class="col-xs-9 col-md-10"><p>{{value.Description}}</p></div>
                    </div>
                    <p class="p_info bg-success"><small><b>Product Id:</b> {{key}}</small> <small ng-show="value.EAN.length > 0">| <b>EAN(s):</b> {{value.EAN}}</small> <small ng-show="value.FamilyIds.length > 0">| <b>Family Id(s):</b><span ng-repeat="(key, value) in value.FamilyIds"> {{value}}{{$last ? '' : ', '}}</span></small></p>
                </div>
                
                <div ng-show="apidata" class="col-xs-6 col-md-3">
                    <h4>API Info:</h4>
                    
                    <p><b>Total reviews:</b> {{totalReviews}}</p>
                    <p><b>Locale:</b> {{Locale}}</p>
                    <p><b>Ratings Only:</b> {{IRO}}</p>
                    <p><b>API Call Limit:</b> {{apicalllimit}}</p>
                    <p><b>Number of pages:</b> {{page}}</p>
                    <div style="margin: 2em 0;" ng-show="ProductsAttributes">
                        <h4>Products in this API call:</h4>
                        <li style="list-style: none;" ng-repeat="(key, value) in ProductsData"> <b>{{key}}</b></li>
                    </div>
                    <div ng-if="SCount > 0">
                        <h4>Syndicated content:</h4>
                        <p>There are {{SCount}} syndicated reviews in this API call.</p>
                        <uib-accordion close-others="oneAtATime">
                            <uib-accordion-group is-open="status.open">
                                <uib-accordion-heading>Click here to see the syndication Source<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
                                <ul class="syndicated">
                                    <li ng-repeat="y in SourcesSyndicated"><b>Review ID:</b> {{y.id}} <br> <b>Source:</b> <a ng-href="{{y.source}}">{{y.source}}</a></li>
                                </ul>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                    <div ng-if="SCount == 0">
                        <h4>Syndicated content:</h4>
                        <p>There are no syndicated reviews.</p>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="reloadPage();">Reset</button>
                </div>
                <div ng-show="apidata" class="col-xs-12 col-md-9" style="border-left: 2px solid #ddd;">
                    <h4>API Response:</h4>
                    <div class="apiresponse">
                        <table class="table table-hover">
                            <thead>
                                <tr> 
                                    <th>#</th> <th>PID</th> <th>R-ID</th> <th>Rating</th> <th>Reviews</th> <th>Syndicated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in apidata.Results">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{x.ProductId}}</td>
                                    <td>{{x.Id}}</td>
                                    <td>{{x.Rating}}</td>
                                    <td><h5>{{x.Title}}</h5><br>{{x.ReviewText}}</td> 
                                    <td>{{x.IsSyndicated}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer>
                <p>© Alexis Phanor for Bazaarvoice. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>