<div ng-class="{'fade-in': cookey === undefined}" class="row maino">
    <h1>API HELPER</h1>
    <div class="api_links">
        <div class="apibuilder">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <a onclick="ga('send', 'event', 'APILinks', 'apibuilder', 'apibuilder');" id="apibuilder" ng-href="#/apibuilder">API Builder</a>
        </div>
        <div class="apichecker">
            <i class="fa fa-chevron-right" aria-hidden="true"></i> <a onclick="ga('send', 'event', 'APILinks', 'apichecker', 'apichecker');" id="apichecker" ng-href="#/apichecker">API Checker</a>
        </div>
    </div>
</div>