
.icono-down-open:before { content: '\e800'; } /* '' */
.icono-up-open:before { content: '\e801'; } /* '' */
.icono-user-outline:before { content: '\e802'; } /* '' */
.icono-html5:before { content: '\e805'; } /* '' */
.icono-github-squared:before { content: '\e806'; } /* '' */
.icono-github:before { content: '\e807'; } /* '' */
.icono-terminal:before { content: '\e808'; } /* '' */
.icono-terminal-1:before { content: '\e809'; } /* '' */
.icono-folder:before { content: '\e80a'; } /* '' */
.icono-code:before { content: '\e80b'; } /* '' */
.icono-code-1:before { content: '\e80c'; } /* '' */